Repository kevintatou/sparktest: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, backend

codecov.yml:

# Codecov configuration for SparkTest monorepo
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
    patch:
      default:
        target: 80%
        threshold: 5%
        
  ignore:
    # Build artifacts and dependencies
    - "node_modules/**/*"
    - "**/node_modules/**/*"
    - "**/.next/**/*"
    - "**/coverage/**/*"
    - "**/dist/**/*"
    - "**/target/**/*"
    
    # Configuration files
    - "**/*.config.*"
    - "**/*.config.ts"
    - "**/*.config.js"
    - "**/*.config.mjs"
    - "**/tsconfig*.json"
    - "**/.eslintrc*"
    - "**/tailwind.config.*"
    - "**/postcss.config.*"
    - "**/next.config.*"
    - "**/vitest.config.*"
    - "**/vite.config.*"
    
    # Type definitions and constants
    - "**/*.d.ts"
    - "**/types/**/*"
    - "**/lib/types.ts"
    - "**/lib/constants/**/*"
    
    # Generated or third-party code
    - "**/components/ui/**/*"  # shadcn/ui components
    - "**/hooks/use-toast.ts"  # Third-party hook
    - "**/lib/storage/storage.ts"  # Interface definitions
    
    # Test files themselves
    - "**/__tests__/**/*"
    - "**/*.test.*"
    - "**/*.spec.*"
    - "**/vitest.setup.ts"
    
    # Documentation and metadata
    - "**/*.md"
    - "**/README.*"
    - "**/CHANGELOG.*"
    - "**/LICENSE*"

# Comment configuration for PR reports
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

# Flag configuration for different parts of the codebase
flags:
  unittests:
    paths:
      - apps/oss/
    carryforward: true
    
  backend:
    paths:
      - backend/
    carryforward: true

# Simplified configuration - remove pull request rules that might cause issues
parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

fix: made publish access public
  .github/workflows/publish-npm.yml
Due: none

Update publish-npm.yml
  .github/workflows/publish-npm.yml
Due: none

fix: fix lint in frontend
  .github/workflows/publish-npm.yml
  CHANGELOG.md
  README.md
  TAGGING_SOLUTION.md
  apps/oss/__tests__/pages/definitions-page.test.tsx
  apps/oss/__tests__/pages/executors-page.test.tsx
  apps/oss/__tests__/pages/runs-page.test.tsx
  apps/oss/__tests__/storage/generic-storage.test.ts
  apps/oss/components/test-definition-form.tsx
  apps/oss/components/test-runs-list.tsx
  packages/storage-service/api-storage.ts
  packages/storage-service/hybrid-storage.ts
  packages/storage-service/local-storage.ts
  packages/storage-service/sparktest-storage.ts
  packages/storage-service/storage.ts
Due: unittests

fixed linting and tests
  apps/oss/__tests__/pages/runs-page.test.tsx
  apps/oss/app/api/run-test/route.ts
  apps/oss/app/runs/page.tsx
  apps/oss/app/suites/[id]/page.tsx
  apps/oss/app/suites/edit/[id]/page.tsx
  apps/oss/app/suites/page.tsx
  apps/oss/components/dashboard-metrics.tsx
  apps/oss/components/suite-form.tsx
  apps/oss/components/test-definition-cards.tsx
  apps/oss/components/test-definition-test-modal.tsx
  apps/oss/components/test-list.tsx
  apps/oss/components/test-runs-list.tsx
  apps/oss/hooks/use-queries.ts
Due: unittests

fix: moevd workflow file
  .github/workflows/ci.yml
  .github/workflows/nextjs-lint.yml
Due: none

fix: fixed lint
  apps/oss/components/TestDefinitionForm/formUtils.ts
Due: unittests

fix: deploy script and runner scripts
  .deploy/Dockerfile.frontend
  .deploy/Dockerfile.runner
  .deploy/docker-compose.yml
  .deploy/entrypoint.sh
  .github/workflows/ci-self-hosted.yml
  .github/workflows/deploy.yml
  setup-runner.sh
Due: none

fix: fixed lint
  .deploy/docker-compose.yml
  .github/workflows/ci-self-hosted.yml
  .github/workflows/ci.yml
  setup-runner.sh
Due: none

fix: missing self hosted...
  .github/workflows/ci-self-hosted.yml
Due: none

fix: preparing
  .deploy/start-runner.sh
  .github/workflows/ci-self-hosted.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-fly.yml
  copy-to-droplet.sh
Due: none

fix: remve files not needed
  .deploy/Dockerfile.frontend
  .deploy/Dockerfile.runner
  .deploy/docker-compose.yml
  .deploy/entrypoint.sh
  .deploy/start-runner.sh
  .github/workflows/deploy-runner.yml
  DEPLOYMENT_FIX_SUMMARY.md
  DEPLOYMENT_QUICKSTART.md
  RUNNER_DEPLOYMENT.md
  SECRETS_SETUP.md
  copy-to-droplet.sh
  deploy-runner.sh
  setup-runner-legacy.sh
Due: none

fix: removed crazzy files
  .github/ISSUE_TEMPLATE/deployment-issue.md
  DEMO_DATA_GUIDE.md
  FLY_DEPLOYMENT.md
  PUBLISHING.md
  TAGGING_SOLUTION.md
  fly.toml
Due: none

feat: Added deployment stuff for mvp
  .deploy/Dockerfile.backend
  .deploy/README.md
  .deploy/deploy-mvp.sh
  .deploy/docker-compose.yml
  .github/workflows/deploy.yml
  DEPLOYMENT.md
  Dockerfile
  Dockerfile.backend
  docker-compose.prod.yml
Due: none

fix: install docker in deploy step
  .deploy/Dockerfile.runner
  .deploy/start-runner.sh
  .github/workflows/deploy.yml
  copy-to-droplet.sh
Due: none

fix: remove sudo requirements from deployment workflow
  .github/workflows/deploy.yml
Due: none

fix: add comprehensive Docker diagnostics to deployment workflow
  .github/workflows/deploy.yml
Due: none

fix: waio
  .deploy/Dockerfile.runner
  .deploy/start-runner.sh
  .github/workflows/deploy.yml
  copy-to-droplet.sh
Due: none

fix: add deploy
  .github/workflows/deploy.yml
Due: none

fix: aoidawio
  .deploy/Dockerfile.runner
  .github/workflows/deploy.yml
  copy-to-droplet.sh
Due: none

fix: aoidawio
  .github/workflows/deploy.yml
Due: none

Fix Dockerfile.backend to use correct Cargo.toml and Cargo.lock paths
  Dockerfile.backend
Due: none

Add debug info to Dockerfile.backend to diagnose build context issues
  Dockerfile.backend
Due: none

Simplify Dockerfile.backend: copy entire backend/ directory and generate Cargo.lock if missing
  Dockerfile.backend
Due: none

Update Rust version from 1.75 to 1.80 to support edition2024 feature
  Dockerfile.backend
Due: none

Update both Dockerfiles to use Rust 1.82 for edition2024 support
  .deploy/Dockerfile.backend
  Dockerfile.backend
Due: none

Standardize create/edit page layouts and fix dark mode styling
  apps/oss/app/definitions/edit/[id]/page.tsx
  apps/oss/app/definitions/new/page.tsx
  apps/oss/app/executors/[id]/page.tsx
  apps/oss/app/executors/edit/[id]/page.tsx
  apps/oss/app/executors/new/page.tsx
  apps/oss/app/executors/page.tsx
  apps/oss/app/suites/edit/[id]/page.tsx
  apps/oss/app/suites/new/page.tsx
  apps/oss/components/SuiteForm/index.tsx
  apps/oss/components/TestDefinitionForm/ManualForm.tsx
  apps/oss/components/executor-form.tsx
Due: unittests

fix: fixed formatting
  .deploy/README.md
  .deploy/docker-compose.yml
  .github/workflows/deploy.yml
  DEPLOYMENT.md
  apps/oss/app/executors/page.tsx
  docker-compose.prod.yml
Due: unittests

Fix UI consistency and linting issues
  apps/oss/components/SuiteForm/index.tsx
  apps/oss/components/TestDefinitionForm/ManualForm.tsx
Due: unittests

fix: fixed formatting
  apps/oss/components/SuiteForm/index.tsx
  apps/oss/components/TestDefinitionForm/ManualForm.tsx
Due: unittests

Fix Rust formatting in k8s.rs
  backend/api/src/k8s.rs
Due: backend

fix: fixed format lint
  README.md
Due: none

Fix CI: build packages before type-check
  .github/workflows/ci-self-hosted.yml
Due: none

fix: fixed lint and formatting etc
  .github/workflows/ci-self-hosted.yml
  apps/oss/app/definitions/page.tsx
  packages/ui/EXAMPLES.tsx
  packages/ui/README.md
  packages/ui/REUSABLE_PATTERNS.md
  packages/ui/SIDEBAR_USAGE.md
  packages/ui/THEME_CUSTOMIZATION.md
  packages/ui/package.json
  packages/ui/src/components/action-config.tsx
  packages/ui/src/components/app-header.tsx
  packages/ui/src/components/app-layout.tsx
  packages/ui/src/components/app-sidebar.tsx
  packages/ui/src/components/sidebar.tsx
  packages/ui/src/components/status-config.tsx
  packages/ui/src/components/theme-config.tsx
  packages/ui/src/components/theme-provider.tsx
  packages/ui/src/index.ts
  packages/ui/src/lib/utils.ts
  packages/ui/tsconfig.json
Due: unittests

fix: fixed format again
  packages/ui/README.md
  packages/ui/REUSABLE_PATTERNS.md
Due: none

Update publish-npm.yml workflow
  .github/workflows/publish-npm.yml
Due: none

fix: remove unshallow
  .github/workflows/publish-npm.yml
Due: none

fix: simple layout
  apps/oss/app/executors/page.tsx
  apps/oss/app/page.tsx
  apps/oss/app/runs/page.tsx
  apps/oss/app/suites/page.tsx.backup
  apps/oss/app/suites/page.tsx.new
  apps/oss/components/DashboardMetrics/LoadingState.tsx
  apps/oss/components/DashboardMetrics/MetricCard.tsx
  apps/oss/components/DashboardMetrics/index.tsx
  apps/oss/components/app-sidebar.tsx
  apps/oss/components/floating-create-button.tsx
  apps/oss/components/github-button.tsx
  apps/oss/components/navbar-collapse-trigger.tsx
  apps/oss/components/test-runs-list.tsx
  apps/oss/components/test-runs-list.tsx.backup
  apps/oss/components/theme-toggle.tsx
  apps/oss/components/ui/card.tsx
  apps/oss/lib/navigation.ts
Due: unittests

removd inner old menus
  apps/oss/__tests__/components/simple-sidebar.test.tsx
  apps/oss/app/client-layout.tsx
  apps/oss/app/definitions/page.tsx
  apps/oss/app/executors/page.tsx
  apps/oss/app/page.tsx
  apps/oss/app/runs/page.tsx
  apps/oss/app/suites/page.tsx
  apps/oss/components/navbar-collapse-trigger.tsx
  apps/oss/components/simple-sidebar.tsx
  apps/oss/components/top-header.tsx
  apps/oss/contexts/sidebar-context.tsx
Due: unittests
