Repository kevintatou/sparktest: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, backend

Complete frontend modernization: remove gradients, add design system tokens, optimize navigation
  apps/oss/__tests__/pages/runs-page.test.tsx
  apps/oss/app/active/page.tsx
  apps/oss/app/definitions/[id]/page.tsx
  apps/oss/app/definitions/new/page.tsx
  apps/oss/app/definitions/page.tsx
  apps/oss/app/executors/new/page.tsx
  apps/oss/app/executors/page.tsx
  apps/oss/app/page.tsx
  apps/oss/app/runs/[id]/page.tsx
  apps/oss/app/runs/new/page.tsx
  apps/oss/app/runs/page.tsx
  apps/oss/app/suites/new/page.tsx
  apps/oss/app/suites/page.tsx
  apps/oss/components/DashboardMetrics/index.tsx
  apps/oss/components/DashboardMetrics/metricsUtils.ts
  apps/oss/components/app-sidebar.tsx
  apps/oss/components/floating-create-button.tsx
  apps/oss/components/navbar-collapse-trigger.tsx
  apps/oss/components/page-transition.tsx
  apps/oss/components/route-transition.tsx
  apps/oss/components/search-box.tsx
  apps/oss/components/test-runs-list.tsx
  apps/oss/components/ui/delete-confirmation-modal.tsx
  apps/oss/components/ui/sidebar.tsx
  apps/oss/hooks/use-optimized-navigation.ts
  apps/oss/hooks/use-search.ts
  apps/oss/package.json
  pnpm-lock.yaml
Due: unittests

chore: bump versions for v2.1.0 release
  apps/oss/package.json
  package.json
  packages/ui/package.json
Due: unittests

Fix CI/CD workflows and bump Cargo crate versions to 2.1.0
  .github/workflows/deploy-vercel.yml
  .github/workflows/publish-cargo.yml
  .github/workflows/publish-npm.yml
  backend/api/Cargo.toml
  backend/bin/Cargo.toml
  backend/core/Cargo.toml
Due: backend

Fix Cargo publish by adding SQLite feature to sqlx dependencies
  backend/bin/Cargo.toml
Due: backend

Fix merge conflicts and build errors in storage-service
  packages/core/src/constants/index.ts
  packages/core/src/storage/dummy-definitions.ts
  packages/core/src/storage/storage.ts
  packages/core/src/types/index.ts
  packages/core/src/utils/index.ts
  packages/storage-service/api-storage.ts
  packages/storage-service/hybrid-storage.ts
  packages/storage-service/local-storage.old
  packages/storage-service/local-storage.ts
  packages/storage-service/sparktest-storage.old
  packages/storage-service/sparktest-storage.ts
  packages/storage-service/storage.ts
Due: none

Fix GitHub Actions workflows consistency issues
  .github/workflows/ci.yml
  .github/workflows/publish-npm.yml
  .github/workflows/test.yml
Due: none

Fix pnpm version conflict in GitHub Actions workflows
  .github/workflows/ci.yml
  .github/workflows/deploy-vercel.yml
  .github/workflows/publish-npm.yml
  .github/workflows/test.yml
Due: none

fix: remove unused imports to resolve ESLint errors
  apps/oss/components/app-sidebar.tsx
  apps/oss/components/floating-create-button.tsx
  apps/oss/components/page-transition.tsx
  apps/oss/components/test-runs-list.tsx
  packages/storage-service/local-storage-clean.ts
  packages/storage-service/sparktest-storage-clean.ts
Due: unittests

feat: Complete storage service migration for remaining page files
  apps/oss/app/runs/edit/[id]/page.tsx
  apps/oss/app/runs/run/[id]/page.tsx
  apps/oss/app/suites/[id]/page.tsx
  apps/oss/app/suites/edit/[id]/page.tsx
Due: unittests

Complete storage service migration to React Query
  apps/oss/__tests__/pages/definitions-page.test.tsx
  apps/oss/__tests__/pages/executors-page.test.tsx
  apps/oss/__tests__/pages/runs-page.test.tsx
  apps/oss/app/definitions/page-new.tsx
  apps/oss/app/definitions/page-old.tsx
  apps/oss/app/suites/[id]/page.tsx
  apps/oss/app/suites/page.tsx.backup
  apps/oss/components/DashboardMetrics/useDashboardMetrics.ts
  apps/oss/components/KubernetesLogs/useKubernetesLogs.ts
  apps/oss/components/RunDetails/useRunDetails.ts
  apps/oss/components/RunTestForm/useRunTestForm.ts
  apps/oss/components/SuiteForm/useSuiteForm.ts
  apps/oss/components/TestDefinitionCards/useTestDefinitionCards.ts
  apps/oss/components/TestDefinitionForm/index.tsx
  apps/oss/components/TestDefinitionForm/useTestDefinitionForm.ts
  apps/oss/components/run-test-form.tsx.backup
  apps/oss/hooks/use-queries.ts
  apps/oss/hooks/use-search.ts
  apps/oss/hooks/useDashboardMetrics.ts
  package.json
  tsconfig.base.json
Due: unittests

Remove minikube files and add to .gitignore
  .gitignore
  .kube/minikube-ca.crt
  .kube/minikube-client.crt
  .kube/minikube-client.key
Due: none

Clean up CI/CD references to removed storage-service package
  .github/workflows/ci-self-hosted.yml
  .github/workflows/deploy-vercel.yml
  .github/workflows/publish-npm.yml
  CHANGESET_WORKFLOW.md
  Dockerfile
  scripts/create-tag.sh
Due: none

fix: removed storage-service frompnpm
  pnpm-lock.yaml
Due: none

Remove storage-service files re-added during merge
  apps/oss/__tests__/storage/api-storage.test.ts
  apps/oss/__tests__/storage/hybrid-storage.test.ts
  apps/oss/__tests__/storage/sparktest-storage.test.ts
  apps/oss/app/suites/page.tsx.backup
  packages/core/src/storage/sparktest-storage.ts
  packages/core/src/storage/storage.ts
  packages/storage-service/api-storage.ts
  packages/storage-service/local-storage-clean.ts
  packages/storage-service/local-storage.old
  packages/storage-service/package.json
  packages/storage-service/sparktest-storage-clean.ts
  packages/storage-service/sparktest-storage.old
  packages/storage-service/sparktest-storage.ts
  packages/storage-service/storage.ts
Due: unittests

fix: fixed lock file
  apps/oss/__tests__/pages/runs-page.test.tsx
  apps/oss/package.json
  pnpm-lock.yaml
Due: unittests

fix: removed old test
  apps/oss/__tests__/pages/runs-page.test.tsx
Due: unittests

Fix ESLint errors for GitHub Actions workflow
  apps/oss/app/active/page.tsx
  apps/oss/app/definitions/[id]/page.tsx
  apps/oss/app/executors/page.tsx
  apps/oss/app/runs/page.tsx
  apps/oss/app/suites/[id]/page.tsx
  apps/oss/components/RunTestForm/useRunTestForm.ts
  apps/oss/components/SuiteForm/useSuiteForm.ts
  apps/oss/components/TestDefinitionForm/useTestDefinitionForm.ts
  apps/oss/components/executor-form.tsx
  apps/oss/components/test-definitions-list.tsx
Due: unittests

Fix final prettier formatting issues in 4 files
  apps/oss/app/definitions/[id]/page.tsx
  apps/oss/app/runs/page.tsx
  apps/oss/components/executor-form.tsx
  apps/oss/components/test-definitions-list.tsx
Due: unittests

Add mandatory local testing with act before commits
  .agent-instructions.md
Due: none

fix: fixed style
  .agent-instructions.md
Due: none

Fix clippy uninlined_format_args warnings
  backend/api/src/handlers.rs
Due: backend

feat: Add simple Kubernetes deployment for issue #159
  k8s/Dockerfile.backend.k8s
  k8s/Dockerfile.frontend
  k8s/README.md
  k8s/deployment.yaml
Due: none

Add complete Kubernetes deployment with PostgreSQL for Minikube and K3s
  k8s/README.md
  k8s/deployment.yaml
Due: none

Replace hardcoded database credentials with placeholders for security
  k8s/README.md
  k8s/deployment.yaml
Due: none

fix: removed not needed deployment files
  k8s/Dockerfile.backend.k8s
  k8s/Dockerfile.frontend
Due: none

Fix ESLint errors: remove unused variable and replace any types with proper TypeScript types
  apps/oss/app/api/runs/[id]/logs/route.ts
  apps/oss/components/RunDetails/useRunDetails.ts
  apps/oss/components/TestDefinitionForm/useTestDefinitionForm.ts
Due: unittests

fix: fixed code format
  apps/oss/__tests__/api/runs-logs.test.ts
  apps/oss/__tests__/components/kubernetes-logs-error-handling.test.tsx
  apps/oss/app/api/k8s/health/route.ts
  apps/oss/app/api/runs/[id]/logs/route.ts
  k8s/README.md
  k8s/deployment.yaml
Due: unittests

Fix controller Docker runtime base image for GLIBC compatibility
  backend/controller/Dockerfile
Due: backend

Fix clippy warnings and configure controller to use local backend
  backend/controller/src/reconciler.rs
Due: backend

fix: removed vercel root
  CLAUDE.md
  vercel.json
Due: none

Clean up vercel.json configuration
  vercel.json
Due: none

Configure Vercel to use pnpm for monorepo build
  vercel.json
Due: none

Configure Vercel for pnpm monorepo with app-specific config
  apps/oss/vercel.json
  vercel.json
Due: unittests

Use corepack to enable latest pnpm on Vercel
  apps/oss/vercel.json
Due: unittests

Simplify Vercel build - run install and build:packages in buildCommand
  apps/oss/vercel.json
Due: unittests

Add explicit pnpm installCommand to fix npm workspace protocol error
  apps/oss/vercel.json
Due: unittests

Use corepack to install specific pnpm version to fix ERR_INVALID_THIS
  apps/oss/vercel.json
Due: unittests

Path conditions:
  unittests: any of: apps/oss/
  backend: any of: backend/
