Repository kevintatou/sparktest: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, backend

codecov.yml:

# Codecov configuration for SparkTest monorepo
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
    patch:
      default:
        target: 80%
        threshold: 5%
        
  ignore:
    # Build artifacts and dependencies
    - "node_modules/**/*"
    - "**/node_modules/**/*"
    - "**/.next/**/*"
    - "**/coverage/**/*"
    - "**/dist/**/*"
    - "**/target/**/*"
    
    # Configuration files
    - "**/*.config.*"
    - "**/*.config.ts"
    - "**/*.config.js"
    - "**/*.config.mjs"
    - "**/tsconfig*.json"
    - "**/.eslintrc*"
    - "**/tailwind.config.*"
    - "**/postcss.config.*"
    - "**/next.config.*"
    - "**/vitest.config.*"
    - "**/vite.config.*"
    
    # Type definitions and constants
    - "**/*.d.ts"
    - "**/types/**/*"
    - "**/lib/types.ts"
    - "**/lib/constants/**/*"
    
    # Generated or third-party code
    - "**/components/ui/**/*"  # shadcn/ui components
    - "**/hooks/use-toast.ts"  # Third-party hook
    - "**/lib/storage/storage.ts"  # Interface definitions
    
    # Test files themselves
    - "**/__tests__/**/*"
    - "**/*.test.*"
    - "**/*.spec.*"
    - "**/vitest.setup.ts"
    
    # Documentation and metadata
    - "**/*.md"
    - "**/README.*"
    - "**/CHANGELOG.*"
    - "**/LICENSE*"

# Comment configuration for PR reports
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

# Flag configuration for different parts of the codebase
flags:
  unittests:
    paths:
      - apps/oss/
    carryforward: true
    
  backend:
    paths:
      - backend/
    carryforward: true

# Simplified configuration - remove pull request rules that might cause issues
parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

Downgrade Vercel pnpm to v9.15.0 to fix fetch error
  apps/oss/vercel.json
Due: unittests

Downgrade packageManager to pnpm@9.15.0 to match Vercel config
  package.json
Due: none

Install pnpm via npm instead of corepack to bypass potential corepack issues
  apps/oss/vercel.json
Due: unittests

Enforce Node 20 and use npx for pnpm install to fix Vercel build
  apps/oss/vercel.json
  package.json
Due: unittests

Run pnpm install from workspace root to fix package resolution
  apps/oss/vercel.json
Due: unittests

Try filtering install to root to force workspace resolution
  apps/oss/vercel.json
Due: unittests

Fix .vercelignore to include packages and lockfile for monorepo build
  .vercelignore
Due: none

Set framework to null to bypass Vercel Next.js detection in monorepo
  apps/oss/vercel.json
Due: unittests

Remove filter flag from install command to ensure workspace dependencies are installed
  apps/oss/vercel.json
Due: unittests

Enable Next.js framework in Vercel config and update pnpm version
  apps/oss/package.json
  apps/oss/vercel.json
Due: unittests

Harden OSS run management flow
  .prettierignore
  apps/oss/app/active/page.tsx
  apps/oss/app/api/test-definitions/[id]/route.ts
  apps/oss/app/api/test-definitions/[id]/run/route.ts
  apps/oss/app/api/test-executors/[id]/route.ts
  apps/oss/app/api/test-executors/route.ts
  apps/oss/app/api/test-suites/[id]/route.ts
  apps/oss/app/api/test-suites/route.ts
  apps/oss/app/definitions/[id]/page.tsx
  apps/oss/app/runs/page.tsx
  apps/oss/app/suites/[id]/page.tsx
  apps/oss/app/suites/page.tsx
  apps/oss/components/DashboardMetrics/useDashboardMetrics.ts
  apps/oss/components/RunDetails/useRunDetails.ts
  apps/oss/components/RunTestForm/index.tsx
  apps/oss/components/RunTestForm/useRunTestForm.ts
  apps/oss/components/SuiteForm/useSuiteForm.ts
  apps/oss/components/TestDefinitionCards/useTestDefinitionCards.ts
  apps/oss/components/TestDefinitionForm/index.tsx
  apps/oss/components/search-box.tsx
  apps/oss/components/test-runs-list.tsx
  apps/oss/components/ui/delete-confirmation-modal.tsx
  apps/oss/hooks/use-queries.ts
  apps/oss/package.json
  backend/api/src/handlers.rs
  backend/api/src/routes.rs
Due: unittests, backend

Update Vercel deploy workflow
  .github/workflows/deploy-vercel.yml
Due: none

Fix Vercel deploy root directory
  .github/workflows/deploy-vercel.yml
Due: none

Back OSS demo with Supabase
  .gitignore
  apps/oss/app/api/runs/[id]/logs/route.ts
  apps/oss/app/api/test-definitions/[id]/route.ts
  apps/oss/app/api/test-definitions/[id]/run/route.ts
  apps/oss/app/api/test-definitions/route.ts
  apps/oss/app/api/test-executors/[id]/route.ts
  apps/oss/app/api/test-executors/route.ts
  apps/oss/app/api/test-runs/[id]/route.ts
  apps/oss/app/api/test-runs/route.ts
  apps/oss/app/api/test-suites/[id]/route.ts
  apps/oss/app/api/test-suites/route.ts
  apps/oss/app/definitions/page.tsx
  apps/oss/lib/demo-store.ts
Due: unittests

Require token for OSS demo writes
  apps/oss/app/api/test-definitions/[id]/route.ts
  apps/oss/app/api/test-definitions/[id]/run/route.ts
  apps/oss/app/api/test-definitions/route.ts
  apps/oss/app/api/test-executors/[id]/route.ts
  apps/oss/app/api/test-executors/route.ts
  apps/oss/app/api/test-runs/[id]/route.ts
  apps/oss/app/api/test-runs/route.ts
  apps/oss/app/api/test-suites/[id]/route.ts
  apps/oss/app/api/test-suites/route.ts
  apps/oss/lib/api-auth.ts
Due: unittests

Fix local dev setup portability and document real architecture
  .env.example
  .gitignore
  CLAUDE.md
  Dockerfile
  README.md
  apps/oss/.env.example
  apps/oss/.gitignore
  apps/oss/next.config.js
  docker-compose.dev.yml
  docker-compose.prod.yml
  start-dev.sh
Due: unittests

Fix GitHub button linking to placeholder org instead of kevintatou/sparktest
  apps/oss/components/github-button.tsx
Due: unittests

Clean up stale docs and dead deploy scripts
  .agent-instructions.md
  .deploy/Dockerfile.backend
  .deploy/Dockerfile.runner
  .deploy/README.md
  .deploy/deploy-mvp.sh
  .deploy/docker-compose.yml
  .deploy/start-runner.sh
  IMPLEMENTATION_SUMMARY.md
  README.md
  copy-to-droplet.sh
  test-frontend-api.js
Due: none

Fix broken backend run command in README
  README.md
Due: none

Add Railway and DigitalOcean full-stack deploy buttons, retire broken droplet path
  .do/app.yaml
  .github/workflows/deploy.yml
  CLAUDE.md
  DEPLOYMENT.md
  README.md
  docker-compose.prod.yml
  railway.json
  scripts/provision-k3s-vps.sh
Due: none

Shrink README, split out CONTRIBUTING.md, move niche docs to docs/
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/CHANGESET_WORKFLOW.md
  docs/DEMO_DATA_GUIDE.md
  docs/FLOW_DIAGRAM.md
  docs/TESTING_CHANGESETS.md
Due: none

Fix broken frontend Dockerfile build, document port-conflict fallback
  Dockerfile
  README.md
Due: none
